@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;600;700;900&display=swap');

/*----Header----*/

div h1, h2 {
  text-align:center;
  font-weight: bold;
}

.bg-color-head {
  background-color: rgb(9, 14, 20);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-dimensions {
  width: 300px;
  height: 184px;
}

/*----Sections 1 through 4----*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 2rem;
  color: #000080 
}

.section-header {
  font-size: 2rem;
  font-weight: 500;
}

.para-format {
  font-size: 1.2rem;
  font-weight: 400;
}

.btn {
  background-color: #df0402;
}

.break-line {
  border: 1px solid #000;
  margin: 0 5rem;
}


/*----navbar----*/

.navbar-stick {
  display: flex;
  top: 0px;
  left: 0px;
  position: sticky;
  z-index: 999999;
}

.navbar-collapse {
  justify-content: center;
  background-color: #000;
}

.navbar {
  padding: 0;
  background-color: #000;
}

.nav-item {
   background-color: #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFD700;
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar-dark,
.navbar-nav:hover,
.nav-link:hover {
  color: #d6d30b;
  transition-duration: .5s;
}

.navbar-toggler {
  background-color: #000;
}

.navbar-toggler-icon i {
  color: white;
  font-size: 1.75rem;
}

#callout-container {
  height: 100vh;
  width: auto;
  background-image: url('../images/pitch.png');
  background-size: cover;
  background-color: rgb(3, 7, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  font-weight: bold;
}

.callout-text {
  color: #000080;
  font-weight: bold;
}

p {
  display: block;
  text-align: justify;
}

.caption-side {
  caption-side: top;
  color: #000;
  }

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  
}

th {
	border: 1px solid black;
	padding: 5px;
  background-color: gold;

}

.png {
  width: 300px;
  height: 184px;
}
 
.batting  {
 size:100%
}